@font-face {
    font-family: OpenSans_Condensed-Bold;
    src: url(font/OpenSans_Condensed-Bold.ttf);
}
@font-face {
    font-family: SairaStencil;
    src: url(font/SairaStencil_Condensed-BlackItalic.ttf);
}
/* .align {
    text-align: center;
    background-color: brown;
    color: white;
    text-align: right;
    text-align: left;
}

.rain_img {
    height: 300px;
    width: 300px;
    text-align: center;
}
div{
    text-align: center;
    background-color: blue;
} */

/* section1 start */

.sec1 {
    background-color: #dad3f9;
    height: 600px;
}
.align {
    font-family: SairaStencil;
    font-size: 40px;
    color: #8973E6;
    text-align: center;
    text-shadow: 2px 2px 2px #b9acf5;
}

.child {
    background-color: #ddd6f9;
    color: #7D61F2;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    font-family: OpenSans_Condensed-Bold;
}

.align_img{
    text-align: center;
}

.align_img>img {
    height: 300px;
    width: 900px;
}

/* section1 end */

/* section2 start */
.sec2{
    background-color: #8973E6;
}
.sec2h{
    color: white;
    text-align: left;
}
.sec2_par{
    font-size: 23px;
    color: #ddd6f9;
    text-indent: 40px;
}
.sec2 a{
    text-decoration: none;
    color: #ddd6f9;
    text-align: center;
}
/* section2 end */

/* section3 start */
.sec3>h3 {
    text-transform: uppercase;
    color: #8973E6;
    text-shadow: 2px 2px 2px #bbb0ec;

}
/* section3 start */