h1 {
    text-transform: capitalize;
}
/* p {
    text-transform: capitalize;
    color: #F2AEE0;
    background-color: blueviolet;
    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: none;
} */

a {
    text-decoration: none;
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: overline;
    /* text-decoration: blink; */
    text-decoration-color: pink;
    text-decoration-line: line-through;
    text-decoration: line-through dashed red;
    text-decoration: overline solid yellow;
    text-decoration: underline double green;
    text-decoration: underline wavy orange;
}

/* p {
    text-decoration: underline;
} */

.head {
    text-decoration: underline solid pink;
}

#line {
    /* background-color: brown; */
    color: rgb(15, 15, 15);
    line-height: 20px;
    letter-spacing: 2px;
    word-spacing: 15px;
    /* text-transform: capitalize; */
}

span {
    text-transform: capitalize;
    color: yellow;
    background-color: blueviolet;
}

.parent {
    background-color: blue;
    height: 500px;
    width: 500px;
    font-size: 20px;
}

.child {
    font-size: 40px;
    height: 5em;
    background-color: aqua;
    width: 4em;
}