 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* @font-face {
    font-family: Bungee-Regular;
    src: url(font/Bungee-Regular.ttf);
} */
/* @font-face {
    font-family: DancingScript-Bold;
    src: url(font/DancingScript-Bold.ttf);
} */
p {
    color: rgb(210, 105, 30);
    font-family: "Playwrite IE", cursive;
    font-family: Bungee-Regular;
    font-family: DancingScript-Bold;
    font-family: "Roboto", sans-serif;
}

/* .parent {
    color: blue;

    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    height: 200px;
    width: 200px;
}


.child {
    height: 50%;
    width: 50%;
    background-color: bisque;


} */

.grandchild {
    height: 50%;
    width: 50%;
    background-color: blue;
}

p {
    color: brown;
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
}
